<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="USUARIOSBD" value="bcea"/>
		<add key="CLAVEBD" value="xqlpun"/>
		<add key="SERVIDORBD" value="http://192.168.1.157/webservice_plasticom_casa_matriz/web/service.php"/>

    <!--<add key="SERVIDORBD" value="http://192.168.1.157/webservice_plasticom/web/service.php"/>-->
    
		<!--<add key="NOMBREBD" value="sigcom_plasticom_principal"/>-->

    <add key="NOMBREBD" value="sigcom_plasticom_vega"/>
    
		<add key="SERVIDORBD_HOSTING" value="http://192.168.1.23/webservice_plasticom_hosting/web/service.php"/>
		<add key="SERVIDORBD_VEGA" value="http://192.168.1.157/webservice_plasticom/web/service.php"/>
		<add key="DIRECTORIO_VIDEOS" value="d:\\videos\\"/>
		<add key="DEBUG" value="true"/>
		<add key="NOMBRE_EQUIPO" value="equipo1"/>
		<add key="ruta_graficos" value="D:\proyectos\desarrollo\SIGCOM\bin\x86\Release\chartUtilizados\MSLine.html"/>
		<add key="MOTOR" value="MYSQL"/>
		<add key="ENTORNO" value="WINDOWS"/>

	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
